.moja{
        
    border-radius: 10px;


    background-color: white;  
    margin-bottom:10px;
    
}
.polecanetlo{
    border-radius: 10px;    
    background-color: rgb(199, 199, 199);
    margin: 10px;
}

.tlo{
    background-color: rgb(219, 219, 219);
}

.bg-black{
    background-color:#000;
}
h1{
    font-size: medium;
}
p{
    font-size: small;
}

.mojpadding{
    padding: 10px 20px 10px 20px;
}

.dane{
    border: 0px;
    border-radius: 2px; 
    margin-bottom: 5px;
    background-color: white;
}

.stopka{
    background-color: white;
}

.band{
    border-radius: 10px;
    background-color: rgba(175, 139, 243, 0.397);
    color: aliceblue;
    
    

}

.full-width{
    width:100%;
}
.nc{
    background-color: black;
    color: antiquewhite;
    
}

.blogramka{
    border-radius: 5px;
    background-color: white;
    
}



.footer{
    position:fixed;
    bottom:0;
    }