.moja{
        
    border-radius: 10px;

    margin-bottom:5px;
    background-color: rgb(211, 210, 210);  
    
}


h1{
    font-size: medium;
}
p{
    font-size: small;
}

.mojpadding{
    padding: 10px 20px 10px 20px;
}

.dane{
    border: 0px;
    border-radius: 2px; 
    margin-bottom: 5px;
    background-color: white;
}

.stopka{
    background-color: white;
}

.band{
    background-color: rgb(78, 95, 250);
    color: aliceblue;
    border: 10px;
}